<ul class="nav nav-tabs nav-stacked pull-right">
  <li><%= link_to 'Задать вопрос', new_question_path %></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Вопросы<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#">Все</a></li>
      <li><a href="#">Моя лента</a></li>
      <li><a href="#">Подписан</a></li>
      <li><a href="#">Мои</a></li>
    </ul>
  </li>
  <li><a href="#buttonGroups">Теги</a></li>
  <li><a href="#buttonDropdowns">Пользователи</a></li>

</ul>


