.questions_list, .question_view, #answer_text {
  width: 800px;
}

#rating, .tag{
  color: grey;
  border:1px solid grey;
  border-radius: 3px;
}

#rating {
  font-size: 20px;
}

.fa {
  color: red;
}

#answer_text {
  height: 150px;
}
