// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sbscrn {
 font-size: 12px;
  font-weight: bold;
}

.subscribe {
  color: green;
}

.subscribed {
  color: white;
  background: green;
}
.subscribed:hover {
  color: red;
}

