<ul class="nav nav-pills" role="navigation">
  <li><a href="">Обучение</a></li>
  <li><a href="">Блоги</a></li>
  <li><%= link_to '? Вопрос / Ответ', questions_path%></li>
  <li><a href="">Справочник</a></li>
  <li><a href="">События</a></li>
  <li><a href="">Работа</a></li>
  <li><a href="">Песочница</a></li>
  <li><a href="">Чат</a></li>
</ul>
